*.json linguist-detectable=true
*.properties linguist-detectable=true

.vscode/** linguist-detectable=false
"Custom Tooltips 2/**" linguist-detectable=false
"Custom Tooltips/**" linguist-detectable=false
"Skin Effects/**" linguist-detectable=false
